/* Add global app styles here */
@import "./fonts";

:root {
  --f7-theme-color: #ffffff;
  --f7-theme-color-rgb: 255, 255, 255;
  --f7-theme-color-shade: #ebebeb;
  --f7-theme-color-tint: #ffffff;
}

body,
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-text-color: #000000 !important;
  --f7-navbar-link-color: #000000;
  --f7-navbar-title-margin-left: 0;
  --f7-page-bg-color: #fafafa;
  --f7-range-bar-size: 5px;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
}
